.image-gallery {
  max-width: 500px;
  margin-bottom: 20px;

  button.nextBtn,
  button.prevBtn {
    all: unset;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .image-container {
    aspect-ratio: 595/841;
  }
  .large-image {
    object-fit: cover;
  }

  .thumbnail-gallery {
    display: flex;
    align-items: center;
  }

  .thumbnail-gallery button {
    margin: 0 10px;
  }

  .thumbnails {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
    height: 100px;
  }

  .thumbnail {
    width: 100px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  .thumbnail.active {
    border: 2px solid rgba(210, 61, 61, 0.501);
  }
}
